@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.home-container {
  display: grid;
  position: relative;
  width: 100%;
  grid-template-columns: max-content auto;
  grid-template-rows: auto;
  grid-template-areas: "leftPane rightPane";
}
.head{
  border-collapse: collapse;
  border: 1px solid white;
  letter-spacing: 1px;
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: .8rem;
  width: 80%
}
.tb{
  text-align: center;
  border: 1px solid #d8d8d8;
  color:'black';
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-weight: 600;
  padding: 6px 0px;
}

.leftPane {
  grid-area: leftPane;
  position: relative;
  height: 100%;
  /* background-color: #000; */
  background-color: #f9f9f9;
  min-height: 120vh;
}
.rightPane {
  grid-area: rightPane;
  margin: 0 24px;
  min-height: 80vh;
}